<header>
  <a href="index.html" onclick="router.controller.goTo(event);">
    <h1>Car Rental Online</h1>
  </a>
</header>
<nav>
  <a href="cliente-reservas-page" onclick="router.route(event);">Reservas</a>
  <a href="clientes-disponibilidad-page" onclick="router.route(event);">Disponibilidad</a>
  <a href="clientes-perfil-page" onclick="router.route(event);">Perfil</a>
  <a onclick="router.controller.signout.router.route(event);">Salir</a>
</nav>
<div style="border-bottom: 1px solid #000;">
    <p><span style="font-weight: bold; color: Green;">Ok</span></p>
    <p><span style="font-weight: bold; color: red;">Error</span></p>
    <p><span style="font-weight: bold; color: blue;">Info</span></p>
</div>
<section>
    <article>
        <header>
            <h2>Bienvenidos a Car Rental Online Web Site</h2>
        </header>
        <p>Sistema de gestion de reserva de vehiculos para la práctica de la asignatura de Tecnologias y Servicios Web.
        </p>
        <p>Escuela Superior de Ingenieria Informatica de Albacete.</p>
        <p>Universidad de Castilla La Mancha.</p>
    </article>
</section>
<footer>Tecnologías y Sistemas Web</footer>
