<!DOCTYPE html>
<html>
    <head>
        <title>Car Rental Online Web Site</title>
        <link rel="stylesheet" href="../../css/style.css" type="text/css"> 
        <meta charset="UTF-8">
    </head>
    <body>
        <main>
            <header>
                <a href="index.html" onclick="router.route(event);"><h1>Car Rental Online</h1></a>
            </header>
            <section>
                <article>
                    <header>
                    </header>
                    <h1>Página no encontrada.</h1>
                </article>
            </section>
            <footer>Tecnologías y Sistemas Web</footer>
        </main>
</body>
</html>