body {
    min-height: 100vh; 
    background-color: #F8F0E5; 
    font-family: Arial, Helvetica, sans-serif; 
    margin-left: 10%;
    margin-right: 10%; 
}
header {
    background-color: #F8F0E5; 
    text-align: center;
    justify-content: center; 
}
header a {
    color: #0F2C59; 
    text-decoration: none; 
}
nav {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000; 
}
nav a {
    display: block; 
    padding: 10px 0; 
    text-align: center; 
    text-decoration: none; 
    transition: background-color 0.3s; 
    color: #000;
    display: inline-block;
    margin-left: 10px;
}
nav a:hover {
    background-color: #DAC0A3;
}
div {
    border-bottom: 1px solid #000; 
  
    position: relative;
}
footer {
    border-top: 1px solid black;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 80%;
    padding: 10px;
}

th{
    border-top:    2px solid;
    border-bottom: 2px solid;
    text-align: center;
    justify-content: center;
}

#tablalista {
    margin: auto;
}


#myButton {
    margin: 0 auto;
    text-align: center;
	background-color:#DAC0A3;
	border:1px solid #241d13;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	padding:9px 23px;
    
    
}
#myButton:hover {
	background-color:#b34332;
}

.divagregarbutton {
    display: flex;
    text-align: center;
  }

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.row {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
    text-align: center;
}

label {
    text-align: center;
}

input[type="text"],
input[type="email"],
input[type="tel"],

textarea {
    width: 100%;
    padding: 5px;
    text-align: center;
}

input[type="submit"] {
    grid-column: span 2;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.thick{
    font-weight: bold;
}

.containerver {
    display: flex;
    justify-content: space-between;
}

.columnver {
    flex: 1;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
}


