<header>
    <a href = "index.html" onclick="router.controller.goTo(event)"><h1>Car Rental Online</h1></a>
</header>
<nav>
    <a href="cliente-reservas-page" onclick="router.route(event);">Reservas</a>
    <a href="cliente-disponibilidad-page" onclick="router.route(event);">Disponibilidad</a>
    <a href="cliente-perfil-page" onclick="router.route(event);">Perfil</a>
    <a onclick="router.controller.signout(event);">Salir</a>
</nav>
<div style="border-bottom: 1px solid #000;">
    <p><span style="font-weight: bold; color: Green;">Ok</span></p>
    <p><span style="font-weight: bold; color: red;">Error</span></p>
    <p><span style="font-weight: bold; color: blue;">Info</span></p>
</div>

<form method="get" style="margin-bottom: 50px;" onsubmit="reservar()" action="listar-reservas.html">
    <div style="border-style: hidden;">
        <header>
            <h2>Reserva</h2>
        </header>
        <div class="bloque cabecera">
            <div class="contenido">
                <!-- Campo escondido: reservaFecha -->
                <input type="hidden" name="reservaFecha" value="2001-01-01T10:00">
                <p><label>Fecha</label><span id="ReservaFecha">2001-01-01T10:00</span></p>
            </div>
        </div>
        <div class="bloque cuerpo">
            <div class="contenido">
                <!-- Campo de texto: reservaInicio -->
                <p><label>Fecha inicio</label><span id="ReservaFechaInicio">2001-01-01T10:00</span></p>
            </div>
            <div class="contenido">
                <!-- Campo de texto: reservaFin -->
                <p><label>Fecha fin</label><span id="ReservaFechaFin">2001-01-01T10:00</span></p>
            </div>
        </div>
        <div class="bloque pie">
            *Campos obligatorios
        </div>
    </div>
    <div style="border-style:hidden">
        <h2 style="text-align: left;">Cliente</h2>
    </div>
    <div style="border-style: hidden;" class="cabeceracliente">
        <div class="contenido">
            <p><label>DNI</label><span id="ClienteDni">DNI</span></p>
        </div>
        <div class="contenido">
            <p><label>Nombres</label><span id = ClienteNombre>Nombres</span></p>
        </div>
        <div class="contenido">
            <p><label>Apellidos</label><span id="ClienteApellidos">Apellidos</span></p>
        </div>
    </div>
    <div style="border-style: hidden;" class="cuerpocliente">
        <div class="contenido">
            <p><label>Dirección</label><span id="ClienteDireccion">Praesent et porttitor ipsum, sit amet ultrices neque. Donec velit diam, ultricies
                id ultricies et, tempus vitae urna.
                Curabitur et condimentum ante. Nullam mi quam, accumsan vitae scelerisque ut, viverra eget nibh. Donec
                suscipit diam enim, et blandit neque luctus rutrum. In iaculis diam id nunc sagittis, vel hendrerit
                metus sollicitudin. Duis
                pharetra tellus et venenatis feugiat. Donec eget ipsum leo.</span></p>
        </div>
    </div>
    <div style="border-style: hidden;" class="piecliente">
        <div class="contenido">
            <p><label>Teléfono</label><span id="ClienteTelefono">+000 000000000</span></p>
        </div>
        <div class="contenido">
            <p><label>Email</label><span id="ClienteEmail">cliente@email.com</span></p>
        </div>
    </div>
    <div style="border-style: hidden;clear: both;">
        <div style="border-style:hidden">
            <h2 style="text-align: left;">Vehiculo</h2>
        </div>
        <div class="cabeceravehiculo">
            <div class="contenido">
                <p><label>Matricula</label><span id="MatriculaId">AAA000</span></p>
            </div>
            <!--MARCA-->
            <div class="contenido">
                <p><label>Marca</label><span id="MarcaId">Marca</span></p>
            </div>
            <!--MODELO-->
            <div class="contenido">
                <p><label>Modelo</label><span id="ModeloId">Modelo</span></p>
            </div>
            <!--TIPO-->
            <div class="contenido">
                <p><label>Tipo</label><span id="TipoId">Tipo</span></p>
            </div>
            <!--ETIQUETA-->
            <div class="contenido">
                <p><label>Etiqueta</label><span id="EtiquetaId">ETIQUETA</span></p>
            </div>
            <!--COSTO-->
            <div class="contenido">
                <p><label>Costo por día</label><span id="CostoId">€ 0.00</span></p>
            </div>
        </div>
        <!--DESCRIPCION-->
        <div class="cuerpovehiculo">
            <div class="contenido">
                <p><label>Descripción</label><span id="DescripcionId">Suspendisse vel porttitor mi. Aenean et accumsan tortor, non congue orci.
                    Donec placerat nunc tincidunt fringilla dictum. Donec turpis nibh, elementum quis scelerisque ac,
                    consequat in massa. Mauris bibendum ipsum ac ex malesuada, et pellentesque urna mattis. Proin sit
                    amet mauris luctus, condimentum diam nec, lacinia orci.
                    Vestibulum lacinia eget purus ut ultricies. Pellentesque dapibus sit amet augue id aliquam. Maecenas
                    eget libero nisl. Curabitur ligula eros, sollicitudin eget arcu sagittis, venenatis dictum odio.</span></p>
            </div>
        </div>
        
        <div class="pievehiculo">
            <!--DISPONIBLE-->
            <div class="contenido">
                <p><label>Disponible</label><span id="DisponibleId"><strong>Disponible: </strong>NO</span></p>
            </div>
            <!--ELIMINADO-->
            <div class="contenido">
                <p><label>Eliminado</label><span id="EliminadoId"><strong>Eliminado: </strong>NO</span></p>
            </div>
            <!--REVISION-->
            <div class="contenido">
                <p><label>Revisión</label><span id="RevisionId"><strong>Revisión: </strong>NO</span></p>
            </div>
        </div>
        <div style="text-align: right; border-style: hidden; font-weight: bold;" class="finvehiculo"><span id="costoTotal">Costo: € 0.00</span>
        </div>
        <div style="text-align: center; border-style: hidden;">
            <button id="myButton" type="submit">Reservar</button>
        </div>
    </div>
</form>
<footer>Tecnologías y Sistemas Web</footer>