
    <header>
        <a href = "index.html" onclick="router.controller.goTo(event)">
            <h1>Car Rental Online </h1>
        </a>
    </header>
    <nav>
        <a href="empleado-reservas-page" onclick="router.route(event)">Reservas</a>
        <a href="empleado-vehiculos-page" onclick="router.route(event)">Vehiculos</a>
        <a href="empleado-perfil-page.html" onclick="router.route(event)">Perfil</a>
        <a onclick="router.controller.salir()">Salir</a>
    </nav>
    <div style="border-bottom: 1px solid #000;">
        <p><span style="font-weight: bold; color: Green;">Ok</span></p>
        <p><span style="font-weight: bold; color: red;">Error</span></p>
        <p><span style="font-weight: bold; color: blue;">Info</span></p>
    </div>
    <header style="color: #0F2C59; ">
        <h2>Vehículo</h2> 
    </header>
    
    <div class="container">
        <div>
            <div class="contenido">
                <p id="matriculaId" class = "thick">Matrícula</p.thicker>
                <p><span id="MatriculaId">AAA00</span></p>
            </div>
        </div>

        <div class = "bloque cuerpo">
            <div class="contenido">
                <p class = "thick">Marca</p.thicker>
                <p><span id="MarcaId">Marca 1</span></p>
            </div>

            <div class="contenido">
                <p class = "thick">Modelo</p.thicker>
                <p><span id="ModeloId">Modelo 1</span></p>
            </div>
        </div>

        <div class = "bloque cuerpo">
            <div class="contenido">
                <p class = "thick">Tipo</p.thicker>
                <p><span id="TipoId">A</span></p>
            </div>
            <div class="contenido">
                <p class = "thick">Etiqueta</p.thicker>
                <p><span id="EtiquetaId">B</span></p>
            </div>
        </div>

        <div>
            <p class = "thick">Descripción</p.thicker>
            <p><span id="DescripcionId">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span></p>
        </div>

        <div class="column">
            <p class = "thick">Costo por día €</p.thicker>
            <p><span id="CostoId">0.00</span></p>
        </div>

        <div style="display: inline-block;">
            <div style="display: inline-block; "><p><b>Disponible:</b><span id= DisponibleId>SI</span></p></div>                
            <div style="display: inline-block; margin-left: 200px;"><p><b>Eliminado:</b><span id= EliminadoId>NO</span></p></div>      
            <div id="revisionId" display: inline-block; margin-left: 200px;><p><b>Revision:</b> <span id= RevisionId>SI</span></p></div>                 
        </div>

    
            <div class="column" style="margin-left: 100px;">
                <button id="myButton"   onclick="router.controller.revisar(event)">Revisar</button>
            </div>
    
            <div class="column" style="margin-left: 100px;">
                <button id="myButton"  onclick="router.controller.eliminar(event)">Eliminar</button>
            </div>
        </div>

    </div>
    
</body>
<footer>Tecnologías y Sistemas Web</footer>
</html>