
<header>
    <a href = "index.html" onclick="router.controller.goTo(event)">
        <h1>Car Rental Online </h1>
    </a>
</header>
        <nav>
            <a href="signup.html">Registro</a>
            <a href="signin.html">Ingreso</a>
        </nav>
        <div style="border-bottom: 1px solid #000;">
            <p><span style="font-weight: bold; color: Green;">Ok</span></p>
            <p><span style="font-weight: bold; color: red;">Error</span></p>
            <p><span style="font-weight: bold; color: blue;">Info</span></p>
        </div>
        <header style="color: #0F2C59; ">
            <h2>Vehiculos disponibles</h2>
        </header>

            <div class="cell-listardisponibilidad-invitado" id="cell-listardisponibilidad-invitado"></div>
            <footer>Tecnologías y Sistemas Web</footer>
  